.banner{
    background-color: rgb(144, 224, 247);
    width: 100%;
    height: 150px;
}
.banner-text{
    left: 50%;
    position: absolute;
    margin-top: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10px;
}
.container{
    margin-top: 40px;
    background-color: rgb(212, 243, 243);
}
body{
    background-color: rgb(175, 175, 230);
}
.card-body{
    background-color: cyan;
}